doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title To-do List | The best online task management app and to do list
    include includes/styles.pug
  body
    block content

    include includes/scripts.pug
